@import '../../Assets/rootTools.scss';

.math {

	.logo {
		width: 39px;
	}

	.container {
		@include align(column);

	}

	.activeExercise {
		animation: yellowGlow 3s alternate infinite;

	}
}

@media (min-width: 600px) {

	.math {
		
		.logo {
			width: 60px;
		}

		.container {
			@include align(row, flex-start);

			position: absolute;
			top: 50%;
			transform: translateY(-65%);
		}
	}
	
}