@import '../../Assets/rootTools.scss';

.login {

	.container {
		@include align(column, space-between);

		margin-top: 50px;
	}

	.wrapper {
		@include align(column);
		width: auto;
	}
	
	.logoFull {
		width: 190px;
		margin-bottom: 50px;
	}

	.title {
		font-weight: 600;
		font-size: rem(14);
		font-family: $sora;
	}

	.nameInput {
		@include input();
		height: 40px;
		width: 92.5%;

		margin-top: 30px;

	}

	.entryButton {
		position: absolute;
		bottom: 60px;

		width: 135px;
		height: 45px;
		padding-top: 2px;

		font-weight: 700;
		font-family: $montAlternates;
		text-transform: uppercase;
		letter-spacing: 1px;

		color: #FFF;
		background-color: #910FBE;
		border: none;
		border-radius: 17px;
	}

}

@media screen and (min-width: 600px)  {
	.login {

	
		.logoFull {
			width: 285px;
		}

		.nameInput {
			width: 200%;
		}

		.entryButton {
			position: static;
			margin-top: 20px;
			height: 35px;
		}
	}
}



