@use 'sass:math';

@import url("https://meyerweb.com/eric/tools/css/reset/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');


$montAlternates: 'Montserrat Alternates', sans-serif;
$sora: 'Sora', sans-serif;

$fontColor: #4E0068;


@function rem($px) {
    $rem: math.div($px, 16);
    @return #{$rem}rem;
}

@mixin align($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

@mixin grid($numCols, $colSize: 1fr, $numRows,  $rowSize: 1fr) {
    display: grid;
    grid-template-columns: repeat($numCols, $colSize);
    grid-template-rows: repeat($numRows, $rowSize);
}

@mixin input($width: 100%, $height: rem(35)) {
    @include align();

    width: $width;
    height: $height;
    padding-left: 20px;
    border-radius: $height;
    border: none;

    background-color: #EECCFB;
    color: $fontColor;

    font-weight: 700;
    font-family: $sora;

    &::placeholder {
        color: #C37EDB;
}

}


@mixin button($color, $width: 100%, $height: rem(35)) {
    @include align();

    width: $width;
    height: $height;
    border-radius: 7px;
    background-color: $color;
    color: white;
}

@mixin shadow($color: $bGlow) {
    box-shadow: 3px 3px 8px 0px $color;
}


@keyframes blobMotion {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(440deg);
    }
}

@keyframes yellowGlow {
    0% {
        box-shadow: 0 0 5px 0px #F3E03E;
    }

    100% {
        box-shadow: 0 0 10px 5px #F3E03E;
    }
}

@keyframes purpleGlow {
    0% {
        box-shadow: 0 0 5px 0px #910FBE;
    }

    100% {
        box-shadow: 0 0 30px 5px #910FBE;
    }
}


// CSS base da aplicação

html {
    background-color: #F9ECFE;

    font-family: $montAlternates;
    font-weight: 500;
    font-size: 1.5rem;
    color: $fontColor;

    padding: 50px 50px;
}